<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="verify-admitad" content="9197bb4a3c" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for( 'static', filename='main_style.css')}}">
  <title>Рачет СКО</title>
</head>
<body>
    <div class="shap"><h1 class="text_z"> Расчет погрешности прямых имерений </h1></div>
    <div class="content">
        <p class="info">Заранее исключайте очевидные вылеты.</p>
          <form class="form_block" method="post">
            <input class="input" id="f0" type="text" name="f0" onChange="check_vvod(this.value)" placeholder="Цена деления (число)"><br><br>
            <input class="input" id="f1" type="text" name="f1" onChange="check_vvod(this.value)" placeholder="Измерение 1 (число)"><br><br>
            <input class="input" id="f2" type="text" name="f2" onChange="check_vvod(this.value)" placeholder="Измерение 2 (число)"><br><br>
            <input class="input" id="f3" type="text" name="f3" onChange="check_vvod(this.value)" placeholder="Измерение 3 (число)"><br><br>
            <input class="input" id="f4" type="text" name="f4" onChange="check_vvod(this.value)" placeholder="Измерение 4 (число)"><br><br>
            <input class="input" id="f5" type="text" name="f5" onChange="check_vvod(this.value)" placeholder="Измерение 5 (число)"><br><br>
            <input class="input" id="f6" type="text" name="f6" onChange="check_vvod(this.value)" placeholder="Измерение 6 (число)"><br><br>
            <input class="input" id="f7" type="text" name="f7" onChange="check_vvod(this.value)" placeholder="Измерение 7 (число)"><br><br>
            <input class="input" id="f8" type="text" name="f8" onChange="check_vvod(this.value)" placeholder="Измерение 8 (число)"><br><br>
            <input class="input" id="f9" type="text" name="f9" onChange="check_vvod(this.value)" placeholder="Измерение 9 (число)"><br><br>
            <input class="input" id="f10" type="text" name="f10" onChange="check_vvod(this.value)" placeholder="Измерение 10 (число)"><br><br>

            <input class="bt" type="submit" name="gg" value="Обработка">

          </form>
    </div>



    <script src="{{ url_for('static', filename='vvod.js') }}"></script>
</body>

</html>
