<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for( 'static', filename='main_style.css')}}">
  <title>Рачет СКО</title>
</head>
<body>
    <div class="shap"><h1 class="text_z"> Расчет погрешности прямых имерений </h1></div>
    <div class="content">

          <form class="form_block" method="post">
            <input class="input" id="f0" type="text" name="f0" placeholder="Цена деления (число)"><br><br>
            <input class="input" id="f1" type="text" name="f1" placeholder="Измерение 1 (число)"><br><br>
            <input class="input" id="f2" type="text" name="f2" placeholder="Измерение 2 (число)"><br><br>
            <input class="input" id="f3" type="text" name="f3" placeholder="Измерение 3 (число)"><br><br>
            <input class="input" id="f4" type="text" name="f4" placeholder="Измерение 4 (число)"><br><br>
            <input class="input" id="f5" type="text" name="f5" placeholder="Измерение 5 (число)"><br><br>
            <input class="input" id="f6" type="text" name="f6" placeholder="Измерение 6 (число)"><br><br>
            <input class="input" id="f7" type="text" name="f7" placeholder="Измерение 7 (число)"><br><br>
            <input class="input" id="f8" type="text" name="f8" placeholder="Измерение 8 (число)"><br><br>
            <input class="input" id="f9" type="text" name="f9" placeholder="Измерение 9 (число)"><br><br>
            <input class="input" id="f10" type="text" name="f10" placeholder="Измерение 10 (число)"><br><br>

            <input class="bt" type="submit" name="gg" value="Обработка">

          </form>

    </div>
    <div class="nizok"></div>
</body>

</html>
